<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Led con Django</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body{
            background-color: #9062781f;
        }
        .container-fluid{
        float: center;
        max-width: 600px;
        max-height: 800px;
        margin-top: 100px;
        }
        img {
            

        }
        .btn{
            margin-top: 50px;
            margin-bottom: 50px;
            margin-left: 20px;
            margin-right: 20px;
        }
        .card{
            justify-content: center;
            max-width: 600px;
            background-color: #d8d1d5;
            border: 2px solid #d8d1d5;
        }


    </style>
</head>
<ident>
<body>
    <div class="container-fluid">
        <div class="card mb-3 text-center">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <% if ({{led}} == 'ON'): %>
                        <img src="{% static "images/focoON.jpg" %}" class="img-fluid text-center" alt="Led">
                        <% end%>
                    <% if ({{led}} == 'OFF') %>
                        <img src="{% static "images/foco.jpg" %}" class="img-fluid text-center" alt="Led">
                    <% end%>
                </div>
                <div class="col-md-8" >
                    <div class="card-header">
                        <h4>Circuitos Electronicos</h4> 
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Manejador del led mediante modulo NODEMCU</h6>
                        <p class="card-text">El led esta: {{led}}</p>
                        <a href="Off" class="btn btn-primary">Led OFF</a>
                        <a href="On" class="btn btn-primary">Led ON</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>